VITE_WEBSITE_TITLE=

# When you are testing and do not need CILogon, set this "true" to skip log in, otherwise "false"
VITE_USE_DEMO_USER=

VITE_REACT_FRONTEND_URL=
VITE_EXPRESS_BACKEND_URL=
VITE_DATABASE_BACKEND_URL=

VITE_REACT_APP_AUTH_URL=
VITE_REACT_APP_AUTH_DISCOVER_URL=
VITE_REACT_APP_IDENTITY_CLIENT_ID=
VITE_REACT_APP_IDENTITY_CLIENT_SECRET=
VITE_REACT_APP_REDIRECT_URL=
VITE_REACT_APP_SILENT_REDIRECT_URL=
VITE_REACT_APP_LOGOFF_REDIRECT_URL=